#itinerary-control {
    max-height: 40%;
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #303030;
    color: white;

    box-shadow: 0 3px 3px -3px #555555;
}

.itinerary-control-entry {
    height: 25px;
    margin-top: 7px;
}

.itinerary-control-entry .place-name:hover {
    text-decoration: underline;
}

.itinerary-control-title {
    height: 25px;
}

.remove-button {
    padding: 3px 4px 3px 4px;
    font-size: 10px;
    float: right;
}

#minimize-button {
    padding: 3px 4px 3px 4px;
    font-size: 10px;
    float: right;
}

#do-dijkstra {
    margin-top: 7px;
    width: 100%;
}

.reset-btn {
    width: 100%;
}