body {
  background: grey;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden;  */
}

/* get rid of horizontal margins on bootstrap row */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* * {
  box-sizing: border-box;
} */

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 80%;
}

.logo-nav {
  height: 70px;
  width: 70px;
  margin: 15px 30px 15px 30px;
}

.logo-nav img {
  max-width: 100%;
  max-height: 100%;
}

.desc {
  text-align: center;
  color: darkgrey;
}

#barpic_background {
  background: url("/static/navigate/images/barpic.jpeg") 50% 0 no-repeat fixed;
  height: 100%;
  width: 100%;
}

.searchbar-color {
  color: black;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: black;
  font-style: italic;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-container {
  padding: 0 50px 0 50px;
  height: 100vh;
}

.top {
  display: flex;
  height: 100px;
  background: #2f2626;
}

.bottom {
  height: calc(100vh - 100px);
  background: #404040;
}

#search-bar-container {
  height: 50px;
  width: calc(60% - 130px - 20px);
  margin: 25px 10px 25px 10px;
}

#search-bar-container * {
  border: 0px;
  outline: none;
}

#search-bar-container button {
  width: 40px;
  background-color: white;
  color: #ccc;
  /* height: calc(100% - 3px);
  margin-top: 2px; */
  border-radius: 0 8px 8px 0;
}

#search-bar-container input {
  padding-left: 15px;
  width: calc(100% - 40px);
  border-radius: 8px 0 0 8px;
}

#map {
  /* height: calc(100% - 20px);
  width: calc(100% - 20px); */
  height: 100%;
  width: 100%;
  /* margin: 10px; */
}