/* get rid of horizontal margins on bootstrap row */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.logo {
  height: 150px;
  width: 150px;
}

.logo img{
  width: 100%;
  height: 100%;
}

.motto img{
  height: 200px;
  width: 200px;
}


body, html {
  height: 100%;
  margin: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
}

.split-container{
display: flex;
flex-direction: row;

}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
/*  background-color: white;*/
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-size: cover;

}

.bgimg-1 {
  background-image: url('/static/navigate/images/barpic.jpeg');
  min-height: 100vh;
}

.bgimg-2 {
  background-color: white;
  height: 100vh;
}


.bgimg-3 {
  background-color: #F0F0F0;
  height: 100vh;
}


.imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.descrip{
  color: black;
  padding: 1px;
  font-size: 40px;
  font-family: "Arial Verdana", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: -40px;
}

.logo-nav {
  height: 70px;
  width: 70px;
  margin: 15px 30px 15px 30px;
}

.logo-nav img {
  max-width: 100%;
  max-height: 100%;
}

.steps-Title{
  font-size: 50px;
  color: #606C78;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 20;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle {
  position: relative;
  margin: auto;
}

.my-container {
  padding: 0 50px 0 50px;
  height: 100vh;
}

.top {
  display: flex;
  height: 100px;
  background: #353535;
}

.bottom {
  height: calc(100vh - 100px);
  background: #3D3D3D;
}

#search-bar-main {
  height: 50px;
  min-width: 550px;
  width: calc(60% - 130px - 20px);
/*  margin: 25px 10px 25px 10px;*/
  border: 1px solid darkgrey;
  border-radius: 8px;
}

#search-bar-main * {
  border: 0px;
  outline: none;
}

#search-bar-main button {
  width: 40px;
  background-color: white;
  color: #ccc;
  border-radius: 0 8px 8px 0;
}

#search-bar-main input {
  padding-left: 15px;
  width: calc(100% - 40px);
  border-radius: 8px 0 0 8px;
}

#search-bar {
  height: 50px;
  min-width: 550px;
  width: calc(60% - 130px - 20px);
  margin: 25px 10px 25px 10px;
  border: 1px solid darkgrey;
  border-radius: 8px;
}

#search-bar * {
  border: 0px;
  outline: none;
}

#search-bar button {
  width: 40px;
  background-color: white;
  color: #ccc;
  border-radius: 0 8px 8px 0;
}

#search-bar input {
  padding-left: 15px;
  width: calc(100% - 40px);
  border-radius: 8px 0 0 8px;
}

#map {
  height: 100%;
  width: 100%;
}
