.results-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    border-left: 1px solid  #aaa;
}

.search-title {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-weight: bold;
    font-size: max(2.5vw, 2.5vh, 20px);

    padding: 10px 20px 10px 20px;
    overflow: hidden;
}

.search-result-title-bar {
    font-size: max(1.5vw, 1.5vh, 15px);
}

.place-name:hover {
    text-decoration: underline;
}

.ratings-container div {
    float: left;
}

:root {
    --star-size: max(1.2vw, 1.2vh, 12px);
    --star-color: #ccc;
    --star-background: #fb0;
}

.Stars {
    margin-top: max(0.2vw, 0.2vh);
    margin-left: 5px;
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo-container {
    width: max(15vw, 15vh, 150px);
    height: max(15vw, 15vh, 150px);
    background-size: cover;
    background-position: center;
    margin: 5px 0 5px 0;
}

.photo-container-2 {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    float: right;
}

/* .info-container {
    width: 70%;
    float: left;
    word-wrap: break-word;
} */

.info-container-2 {
    width: 40%;
    float: left;
    word-wrap: break-word;
}

.buttons-container {
    margin-top: 5px;
    display: none;
}

.start-end-btn {
    font-size: max(1vw, 1vh, 10px);
    margin-right: 5px;
}

.show-more-link {
    color: blue;
}

.result-photo {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#search-results {
    list-style-type: none;
    padding: 0;
    height: calc(100% - max(2.5vw, 2.5vh, 20px) - 45px);
    overflow-y: scroll;
}

/* to hide scrollbar */

/* #search-results::-webkit-scrollbar {
    display: none;
}

#search-results {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

#search-results li {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    font-size: max(1vw, 1vh, 10px);
}

#search-results li:hover {
    box-shadow: 0 0 10px #bbb;
}