.results-container {
    background-color: white;
    height: 95%;
    width: 95%;
}

.search-result-title-bar {
    font-size: max(1.5vw, 1.5vh, 15px);
}

.search-result-title:hover {
    text-decoration: underline;
}

.photo-container {
  /* width:100px;
  height:100px; */

  width: max(15vw, 15vh, 150px);
  height: max(15vw, 15vh, 150px);
  background-size:cover;
  background-position:center;
  /* float: right; */
}

.photo-container-2 {
  width:150px;
  height:150px;
  background-size:cover;
  background-position:center;
  float: right;
}

/* .info-container {
    width: 70%;
    float: left;
    word-wrap: break-word;
} */

.info-container-2 {
    width: 40%;
    float: left;
    word-wrap: break-word;
}

.nameTitle {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
}

.buttons-container {
    display: none;
    /* float: left; */
}

.start-end-btn {
    font-size: max(1vw, 1vh, 10px);
    margin-right: 5px;
}

.show-more-link {
    color: blue;
}

.result-photo {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

/* to hide scrollbar */
/* #search-results::-webkit-scrollbar {
    display: none;
}
  
#search-results {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

#search-results li {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin: 10px 20px 10px 20px;
  padding: 20px;
  font-size: max(1vw, 1vh, 10px);
  overflow: hidden;
}

#search-results li:hover {
    box-shadow: 0 0 10px #bbb;
}