/* overwrite bootstrap button font-size */
.btn {
    font-size: inherit;
}

.results-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    border-left: 1px solid #aaa;
}

#search-title {
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
}

#search-results {
    list-style-type: none;
    padding: 0;
    height: calc(100% - 30px - 45px);
    overflow-y: scroll;
}

/* to hide scrollbar */

/* #search-results::-webkit-scrollbar {
    display: none;
}

#search-results {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

#search-results li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    font-size: 14px;
}

#search-results li:hover {
    box-shadow: 0 0 10px #bbb;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.place-info {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.search-result-title {
    font-size: 19px;
    font-weight: bold;
}

.ratings-container div {
    float: left;
}

.Stars {
    margin: 0 3px 0 5px;
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 17px;
    line-height: 1.1;
}

.Stars::before {
    content: '★★★★★';
    background: linear-gradient(90deg, #fb0, var(--percent), #ccc var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden-container {
    display: none;
}

.button-container {
    margin-top: 20px;
}

.button-container :not(:last-child) {
    margin-right: 5px;
}

.photo-container {
    margin-left: 15px;
    min-width: 175px;
    width: 175px;
    height: 175px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.result-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wide-photo {
    height: 175px;
}

.long-photo {
    width: 175px;
}