{% extends "navigate/base.html" %}
{% load static %}

{% block content %}

<div class="split-container">
	<div class="split left bgimg-1">
		<div class="logo">
			<img src='/static/navigate/images/white-logo.png'>
		</div>
		<div class="motto">
			<img src='/static/navigate/images/motto.png'>
		</div>


	</div>



	<div class="split right bgimg-2">
		<div class="links">
			<button class="btn btn-link" id="steps">
				What is bar crawl
			</button>
			|
			<button class="btn btn-link" id="aboutus">
				About us
			</button>
		</div>


		<div class="centered">
			<div class="descrip middle">
				<p>Find top bars to visit for your next night out</p>
			</div>


			<div class="row" id="search-bar-main">
				<input id="address" type="text" placeholder="Enter location">
				<button class="btn btn-primary" id="search-button">Find bars</button>

			</div>

		</div>
	</div>

</div>





<div class="bgimg-3">

	<div class="centered">
		<div class="steps-Title">
			How Bar Crawl works
		</div>

		<div class="row">

			<div class="col-sm-4">
				<div class="imgContainer">
					<img class="centered" src='/static/navigate/images/Picture1.png'>
				</div>
				<div>
					Browse through <br> nearby bars.
				</div>
			</div>

			<div class="col-sm-4">
				<div class="imgContainer">
					<img class="centered" src='/static/navigate/images/Picture2.png'>
				</div>
				<div>
					Select START and END <br> bar destinations.
				</div>
			</div>

			<div class="col-sm-4">
				<div class="imgContainer">
					<img class="centered" src='/static/navigate/images/Picture3.png'>
				</div>
				<div>
					Enjoy your curated <br> bar crawl!
				</div>
			</div>

		</div>


	</div>
</div>


<div class="bgimg-4">
	<div class="centered">
		<div class="aboutus-title">
			Meet the Team
		</div>

		<div>
			Fernanda graduated from Carnegie Mellon University with a Master of Science in biomedical engineering. Her
			current research interests include using ambient data from affordable, noninvasive and wearable technology
			for the development of predictive tools to assist researchers and clinicians with diagnostic decisions and
			online patient monitoring out of the clinic.
		</div>
		<br>

		<div>
			Allan graduated from Columbia University with a Bachelor of Science in electrical engineering. He has been a
			key developer on up-and-coming projects including Retrobox, ScripterWriter++ and GetJoeCoffee. He is
			currently on the path to becoming a full fledged software engineer.
		</div>



	</div>

</div>



<script src="{% static 'navigate/js/home.js' %}"></script>

{% endblock content %}