{% extends "navigate/base.html" %}

{% block content %}
<!-- search bar -->
<div class="row top" id="top-container">
	<div class="col-sm-10">
		<div class="row" id="search-bar-container">
			<form action="">

				<div class="input-group mb-4 p-1">
					<input type="search" placeholder="Find" aria-describedby="button-addon2"
						class="form-control bg-none border-0">

					<input type="search" placeholder="Near" aria-describedby="button-addon2"
						class="form-control bg-none border-0 ml-1">

					<div class="input-group-append border-0 searchbar-color">
						<button id="button-addon2" type="button" class="btn btn-link ml-1"><i
								class="fa fa-search"></i></button>
					</div>
				</div>

			</form>
		</div>

		<div class=row id="options-container">
			<p>dummy options</p>
		</div>
	</div>
</div>

<!-- map and list -->
<div class="row bottom">
	<!-- map -->
	<div class="col-sm-8" id="map-container">
		<div class="centered" id="map"></div>
	</div>

	<!-- list -->
	<div class="col-sm-4" id="list-container">

	</div>
</div>

<script>
	let map;
	let service;
	let infowindow;

	function initMap() {
		const sydney = new google.maps.LatLng(-33.867, 151.195);
		infowindow = new google.maps.InfoWindow();
		map = new google.maps.Map(document.getElementById("map"), {
			center: sydney,
			zoom: 15
		});
		 var request = {
		    location: sydney ,
		    radius: '10000',
		    type: ['museum']
		  };

		service = new google.maps.places.PlacesService(map);
		service.nearbySearch(request, (results, status) => {
			console.log(results)
			if (status === google.maps.places.PlacesServiceStatus.OK) {
				for (let i = 0; i < results.length; i++)
					createMarker(results[i]);
				map.setCenter(results[0].geometry.location);
			}
		});
	}

	function createMarker(place) {
		const marker = new google.maps.Marker({
			map,
			position: place.geometry.location
		});
		google.maps.event.addListener(marker, "click", () => {
			let content = "<strong>"+place.name+"</strong>"
			
			let infowindow = new google.maps.InfoWindow({
				content: content
			});

			infowindow.open(map, marker);
		});
	}
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&libraries=places">
</script>
{% endblock content %}