{% extends "navigate/base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<!-- search bar -->
<div class="row top" id="top-container">
	<div class="col-sm-10">
		<div class="row" id="search-bar-container">
			<form action="">

				<div class="input-group mb-4 p-1">
					<input id="address" type="search" placeholder="Near" aria-describedby="button-addon2"
						class="form-control bg-none border-0 ml-1">

					<div class="input-group-append border-0 searchbar-color">
						<button id="button-addon2" type="button" class="btn btn-link ml-1 submit"><i
								class="fa fa-search"></i></button>
					</div>
				</div>

			</form>
		</div>

		<div class=row id="options-container">
			<p>dummy options</p>
		</div>
	</div>
</div>

<!-- map and list -->
<div class="row bottom">
	<!-- map -->
	<div class="col-sm-8" id="map-container">
		<div class="centered" id="map"></div>
	</div>

	<!-- list -->
	<div class="col-sm-4" id="list-container">
		<div class="results-container centered">
			<ul id="search-results"></ul>
			<button id="doDjikstra" class="btn btn-dark" disabled="true">Create Itinerary</button>
		</div>
	</div>
</div>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&libraries=places&v=weekly">
	</script>

<script src="{% static 'navigate/js/map.js' %}"></script>
{% endblock content %}