{% extends "navigate/base.html" %}

{% block content %}
<!-- search bar -->
<div class="row top" id="top-container">
	<div class="col-sm-10">
		<div class="row" id="search-bar-container">
			<form action="">

				<div class="input-group mb-4 p-1">
					<input type="search" placeholder="Find" aria-describedby="button-addon2"
						class="form-control bg-none border-0">

					<input type="search" placeholder="Near" aria-describedby="button-addon2"
						class="form-control bg-none border-0 ml-1">

					<div class="input-group-append border-0 searchbar-color">
						<button id="button-addon2" type="button" class="btn btn-link ml-1"><i
								class="fa fa-search"></i></button>
					</div>
				</div>

			</form>
		</div>

		<div class=row id="options-container">
			<p>dummy options</p>
		</div>
	</div>
</div>

<!-- map and list -->
<div class="row bottom">
	<!-- map -->
	<div class="col-sm-8" id="map-container">
		<div class="centered" id="map"></div>
	</div>

	<!-- list -->
	<div class="col-sm-4" id="list-container">

	</div>
</div>

<script>
	// Initialize and add the map
	function initMap() {
		// The location of Uluru
		var uluru = { lat: -25.344, lng: 131.036 };
		// The map, centered at Uluru
		var map = new google.maps.Map(
			document.getElementById('map'), { zoom: 4, center: uluru });
		// The marker, positioned at Uluru
		var marker = new google.maps.Marker({ position: uluru, map: map });
	}
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap">
</script>
{% endblock content %}